@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
body {
    background-color: rgba(155, 169, 206, 0.977);
    font-family: Arial;
}

.form-box {
    width: 300px;
    margin: 100px auto;
    background-color: #434a9ae9;
    padding: 20px;
    border-radius: 30px;
}

h2 {
    text-align: center;
}

input {
    width: 93.5%;
    padding: 8px;
    margin-top: 10px;   
    border-radius: 40px;;
}

button {
    width: 100%;
    margin-top: 15px;
    padding: 10px;
    background-color: #000000b4;
    color: rgb(236, 236, 236);
    border: none;
    border-radius: 30px;;
}
